*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}

h1{
    background-color: rgb(64, 63, 63);
    color: white;
}

#set-size, #reset{
    font-size: large;
    color: aliceblue;
    background-color: rgb(74, 11, 11);
    padding: 5px;
    font-weight: 900;
}
.container{
    width: 650px;
    height: 650px;
    margin: 50px 0 20px 0; 
    display: flex;
    flex-wrap:wrap;
    border: 1px solid black;
}

.grid{
    padding: 0;
    margin: 0;
    /* border: 1px solid black;  */
    height: calc(646px/var(--size));
    width: calc(646px/var(--size));
}